<mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Your Info</ng-template>
    <div class="example-container">
      <form [formGroup]="firstFormGroup">
        <mat-grid-list cols="1" rowHeight="70px">
          <mat-grid-tile>
            To get started, please fill out the information below and press "Next" to continue.
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:15vw">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstNameCtrl" placeholder="Ex. Bob" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:15vw">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastNameCtrl" placeholder="Ex. Smith" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:25vw">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailCtrl" placeholder="Ex. smith@mycorp.com" type="email" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:20vw">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyNameCtrl" placeholder="Ex. My Corp" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious style="float: left;">Back</button>
          <button mat-button matStepperNext style="float: right;">Next</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Upload your STL</ng-template>
      <angular-file-uploader [config]="afuConfig" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
      </angular-file-uploader>
      <div>
        <button mat-button matStepperPrevious style="float: left;">Back</button>
        <button mat-button matStepperNext style="float: right;">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
