<mat-horizontal-stepper [linear]="true" labelPosition="bottom" (selectionChange)="stepChanged($event)" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Your Info</ng-template>
    <div class="example-container">
      <form [formGroup]="firstFormGroup">
        <mat-grid-list cols="1" rowHeight="70px">
          <mat-grid-tile>
            To get started, please fill out the information below and press "Next" to continue.
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:15vw">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstNameCtrl" placeholder="Ex. Bob" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:15vw">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastNameCtrl" placeholder="Ex. Smith" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:25vw">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="emailCtrl" placeholder="Ex. smith@mycorp.com" type="email" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="position: absolute; left: 0;">
              <mat-form-field appearance="standard" style="width:20vw">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyNameCtrl" placeholder="Ex. My Corp" required>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious style="float: left;">Back</button>
          <button mat-button matStepperNext style="float: right;">Next</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Upload your STL</ng-template>
      <angular-file-uploader [config]="afuConfig" [resetUpload]=resetUpload (ApiResponse)="docUpload($event)">
      </angular-file-uploader>
      <div>
        <button mat-button matStepperPrevious style="float: left;">Back</button>
        <button mat-button matStepperNext style="float: right;">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Confirm Model</ng-template>
    <mat-grid-list cols="2" rowHeight="1:1" gutterSize="0">
      <mat-grid-tile>
        <div style="width: 98%; height:98%;border-style: solid;border-width: 2px;border-color:lightsteelblue;">
          <app-stl-model-viewer #stlviewer id="stlviewer" name="stlviewer"
            [meshOptions]="[{position: {x: 0, y: 0, z: 0}}]"></app-stl-model-viewer>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-list cols="1" rowHeight="40px" style="width: 100%;">
          <mat-grid-tile>
            Verify the model is the correct one on the screen in the left and select your options from below. Press Next to generate a quote.
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <mat-form-field>
                <mat-label>Material</mat-label>
                <mat-select [(value)]="material">
                  <mat-option value="PLA">PLA</mat-option>
                  <mat-option value="PETG">PETG (PET)</mat-option>
                  <mat-option value="ABS">ABS</mat-option>
                  <mat-option value="Nylon">Nylon</mat-option>
                  <mat-option value="TPU">TPU</mat-option>
                  <mat-option value="PC">PC</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-label>Color</mat-label>
              <mat-select [(value)]="color">
                <mat-option value="Gray">Gray</mat-option>
                <mat-option value="Black">Black</mat-option>
                <mat-option value="Yellow">Yellow</mat-option>
                <mat-option value="Orange">Orange</mat-option>
                <mat-option value="Pink">Pink</mat-option>
                <mat-option value="Copper">Copper</mat-option>
                <mat-option value="Blue">Blue</mat-option>
                <mat-option value="Green">Green</mat-option>
                <mat-option value="White">White</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <mat-form-field>
              <mat-label>Infill</mat-label>
              <mat-select [(value)]="infill">
                <mat-option value="25">25%</mat-option>
                <mat-option value="50">50%</mat-option>
                <mat-option value="75">75%</mat-option>
                <mat-option value="100">100%</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
